<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="login" method="post">
    {% csrf_token %}

  <div class="container">
  <center>  <h1> LOGIN</h1> </center>
  <hr>

<label> Username: </label>
<input type="text" name="username" placeholder="Username" size="15"required />


    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

  <button type="submit" class="registerbtn">Login</button>
</form>
<div>
    {% for message in messages %}
    <h4>
        {{message}}
    </h4>
    {% endfor %}


</body>
</html>